body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.marks .land {
  fill: green;
}
.marks .background {
  fill: blue;
}
.marks .border {
  fill: none;
  stroke: lightgray;
}
.marks .graticules {
  fill: none;
  stroke: #d3d3d3;
}
